/* UNIVERSAL */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(abioticfactor.png);
  background-attachment: fixed;
  backdrop-filter: blur(8px) saturate(0.5) contrast(0.8);
}

header {
  display: flex;
  align-items: center;
  background: #00578d8e;
  padding: 20px 40px;
  box-sizing: border-box;
}

nav a {
  margin-left: 64px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 40px;
  
}

.title-block h1 {
  font-size: 36px;
}

.img-placeholder {
  width: 100%;
  height: 20rem;
}

.topics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  padding: 40px;
}

.t-box {
  text-align: left;
}

.topics .img-placeholder {
  height: 200px;
}

h3 {
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.104);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.103);
}

a.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: black;
  text-decoration: underline;
}

.logo {
  text-decoration: none;
}

/* TOPIC TEMPLATE */

.ttsection {
  padding: 60px 120px;
}

.main-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.intro-text {
  margin: 0 auto 60px auto;
  font-size: 16px;
  line-height: 1.6;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin: 60px 0 40px;
}

.split-section {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  column-gap: 40px;
  align-items: start;
  margin-bottom: 40px;
}

.right-text {
  font-size: 16px;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.wide-text {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.large-img {
  width: 80%;
  height: 400px;
  background: #dcdcdc;
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin: auto;
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*RESPONSIVE TEST*/

@media (max-width: 1024px) {
  .ttsection {
    padding: 40px 60px;
  }


  .split-section {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }


  nav a {
    margin-left: 20px;
  }
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }


  nav a {
    margin-left: 0;
    margin-right: 20px;
    display: inline-block;
  }


  .content {
    grid-template-columns: 1fr;
  }


  .topics {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }


  .ttsection {
    padding: 30px 20px;
  }


  .main-title {
    font-size: 30px;
  }
}


@media (max-width: 480px) {
  header {
    padding: 15px 20px;
  }


  nav a {
    font-size: 12px;
    margin-right: 12px;
  }


  p {
    font-size: 16px;
  }


  .img-placeholder {
    height: 14rem;
  }


  video {
    width: 100%;
    height: auto;
  }

}

