/* UNIVERSAL */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(abioticfactor.png);
  background-attachment: fixed;
  backdrop-filter: blur(5px) saturate(0.5);
}

header {
  display: flex;
  align-items: center;
  background: #00578d8e;
  padding: 20px 40px;
  box-sizing: border-box;
}

nav a {
  margin-left: 64px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 40px;
}

.title-block h1 {
  font-size: 36px;
}

.img-placeholder {
  width: 100%;
  height: 20rem;
  background: #d0d0d0;
}

.topics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  padding: 40px;
}

.t-box {
  text-align: left;
}

.topics .img-placeholder {
  height: 200px;
}

h3 {
  margin-bottom: 10px;
}

p {
  font-size: 20px;
}

a.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: black;
  text-decoration: underline;
}

footer {
  background: #00578d8e;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.footer a {
  margin-right: 30px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

/* TOPIC TEMPLATE */

.ttsection {
  padding: 60px 120px;
}

.main-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.intro-text {
  margin: 0 auto 60px auto;
  font-size: 16px;
  line-height: 1.6;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin: 60px 0 40px;
}

.split-section {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  column-gap: 40px;
  align-items: start;
  margin-bottom: 40px;
}

.right-text {
  font-size: 16px;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.wide-text {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.large-img {
  width: 100%;
  height: 300px;
  background: #dcdcdc;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}

